.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  composes: pb-5 text text_type_main-default from global;
}

.name {
  text-decoration: none;
  color: white;
}

.counter {
  position: relative;
  right: 50px;
}
