.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  composes: text text_type_main-default from global;
  padding-bottom: 20px;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.counter {
  position: relative;
  left: 100px;
}
