.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order {
  composes: mb-8 text text_type_main-large from global;
}

.identifier {
  composes: mb-10 text text_type_main-medium from global;
}

.image {
  composes: mb-10 from global;
}

.message {
  composes: mt-10 mb-2 text text_type_main-default from global;
}

.message2 {
  composes: mb-20 text text_type_main-small text_color_inactive from global;
}
