.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  composes: mt-4 mb-8 text text_type_main-default from global;
}

.values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nutrient {
  composes: mb-15 text text_type_main-small text_color_inactive from global;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
