.modal_content {
  position: fixed;
  width: 390px;
  height: 260px;
  background-color: #1d1c21;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid;
  border-radius: 15px;
  border-color: black;
  composes: pl-10 pr-10 pt-10 pb-15 from global;
  z-index: 1001;
}

.header {
  composes: text text_type_main-medium from global;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
