.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}
.title {
  composes: text text_type_main-medium from global;
}
.list_container {
  composes: custom-scroll from global;
  height: 600px;
  overflow-y: auto;
  column-gap: 24px;
  width: 600px;
}
.ingredients_menu {
  height: 200px;
}
