.ingredients {
  height: 200px;
}

.title {
  composes: text text_type_main-medium from global;
}

.menu {
  display: flex;
}

.list_container {
  composes: custom-scroll from global;
  height: calc(100vh - 300px);
  overflow-y: auto;
  column-gap: 24px;
  width: 600px;
}
